<!--//src/app/auth/login-->
<div class="login-form">
    <div class="card">
      <h2 class="title">Iniciar Sesión</h2>
      <form>
        <div class="input-container">
          <input id="username" type="text" placeholder="Ingrese su usuario" required />
          <label for="username">Usuario</label>
          <div class="bar"></div>
        </div>
  
        <div class="input-container">
          <input id="password" type="password" placeholder="Ingrese su contraseña" required />
          <label for="password">Contraseña</label>
          <div class="bar"></div>
        </div>
  
        <div class="button-container">
          <button type="submit">
            <span>Iniciar Sesión</span>
          </button>
        </div>
      </form>
    </div>
  </div>
  