<!--//src/app/vehiculos/listar/listar.component.html-->
<div class="vehiculos-lista">
  <h2>Vehículos Disponibles</h2>
  <button class="btn-agregar" routerLink="/vehiculos/nuevo">Agregar Vehículo</button>
  <table>
    <thead>
      <tr>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Año</th>
        <th>Precio por Día</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vehiculo of vehiculos">
        <td>{{ vehiculo.marca }}</td>
        <td>{{ vehiculo.modelo }}</td>
        <td>{{ vehiculo.anio }}</td>
        <td>${{ vehiculo.precioPorDia }}</td>
        <td>
          <button [routerLink]="['/vehiculos', vehiculo.vehiculoId]">Ver Detalles</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
